<div class="widget-container widget-profile boxed widget-detail">
    <div class="inner clearfix">
        <div class="word-title">[[blog.title]] [[blog.tags]]</div>
        <div class="word-content">
            [[blog.content]]
        </div>
        <span style="float: right;">
            <span style="margin-right: 30px;">[[blog.createTime]]</span>
            <a href="/blogs/edit/[[blog._id]]" >编辑</a> 
            <a href="javascript:void(0);" ng-click="del([[blog]])">删除</a> 
        </span>
    </div>
</div>
